
/* Or combine both for more specificity */
/* Expander headers */
div[data-testid="stMarkdownContainer"].st-emotion-cache-89jlt8.e121c1cl0 {
  font-size: 1.5rem;
}

/* Modify Font size of expander headers in localhost:8501*/
div[data-testid="stMarkdownContainer"].st-emotion-cache-14553y9.e121c1cl0 {
    font-size: 1.5rem;
  }
  
/*<div class="stExpander st-emotion-cache-0 e1kosxz20" data-testid="stExpander">*/
/* Modify Font size of expander headers in deployed app*/
div[data-testid="stExpander"].st-emotion-cache-0.e1kosxz20 {
  font-size: 1.5rem;
}

/*<div data-testid="stMarkdownContainer" class="st-emotion-cache-br351g e194bff00">*/
/* Modify Font size of expander headers in deployed app*/
div[data-testid="stMarkdownContainer"].st-emotion-cache-br351g.e194bff00 {
  font-size: 1.5rem;
}

hr.solid {
  border-top: 3px solid #bbb;
  margin: 20px 0;
}

/* trying to modify H2 headers */
/* div[data-testid="stHeadingWithActionElements"].st-emotion-cache-1lvxfs7.e121c1cl2 {
  font-size: 3rem;
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 10px;
} */
